First we will import the necessary libraries.

In [40]:
import pandas as pd
import os

Next we need to read the data into pandas dataframes. The data was exported from the WCA website in tsv format. The necessary data is contained within 3 seperate tsv files we need to read. "results" contains info on individual completed solves, "persons" contains info on every person who has competed in a WCA competition, and "competitions" contains info on competitions.

In [60]:
results = pd.read_csv(r'Data/WCA_export_Results.tsv', sep='\t')
print(results.head())

  competitionId eventId roundTypeId  pos  best  average  \
0  LyonOpen2007     333           1   15  1968     2128
1  LyonOpen2007     333           1   16  1731     2140
2  LyonOpen2007     333           1   17  2305     2637
3  LyonOpen2007     333           1   18  2452     2637
4  LyonOpen2007     333           1   19  2677     2906

                personName    personId formatId  value1  value2  value3  \
0            Etienne Amany  2007AMAN01        a    1968    2203    2138
1           Thomas Rouault  2004ROUA01        a    2222    2153    1731
2  Antoine Simon-Chautemps  2005SIMO01        a    3430    2581    2540
3           Irène Mallordy  2007MALL01        a    2715    2452    2868
4       Marlène Desmaisons  2007DESM01        a    2921    3184    2891

   value4  value5 regionalSingleRecord regionalAverageRecord personCountryId
0    2139    2108                  AfR                   AfR   Cote d_Ivoire
1    2334    2046                  NaN                   NaN          France
2    2789    2305                  NaN                   NaN          France
3    2632    2564                  NaN                   NaN          France
4    2677    2907                  NaN                   NaN          France

In [43]:
persons = pd.read_csv("WCA_export_Persons.tsv", sep="\t")
print(persons.head())

   subid              name       countryId gender          id
0      1     Jozsef Borsos          Serbia      m  1982BORS01
1      1  Roland Brinkmann         Germany      m  1982BRIN01
2      1   Julian Chilvers  United Kingdom      m  1982CHIL01
3      1  Jessica Fridrich             USA      f  1982FRID01
4      2  Jessica Fridrich  Czech Republic      f  1982FRID01

In [44]:
competitions = pd.read_csv("WCA_export_Competitions.tsv", sep="\t")
print(competitions.head())

                             id                               name  \
0                 100Merito2018                   100º Mérito 2018
1    100YearsRepublicAnkara2023     100 Years Republic Ankara 2023
2  100YearsRepublicIstanbul2023   100 Years Republic İstanbul 2023
3      100YilMBACubeWeekend2023     100. Yıl MBA Cube Weekend 2023
4    10AniversarioGuatemala2023  Décimo Aniversario Guatemala 2023

         cityName  countryId  \
0  Santarém, Pará     Brazil
1          Ankara     Turkey
2        İstanbul     Turkey
3        İstanbul     Turkey
4  Guatemala City  Guatemala

                                         information  \
0  Qualquer pessoa que resolva o Cubo Mágico em m...
1  [TR] Kayıt sırasında adınızı ve soyadınızı lüt...
2  [TR] Kayıt sırasında adınızı ve soyadınızı lüt...
3  [TR] Kayıt sırasında adınızı ve soyadınızı lüt...
4  Ésta es una competencia conmemorativa en honor...

                                               venue  \
0  [Mérito Pré-Vestibulares](https://www.facebook...
1   TMMOB Teoman Öztürk Öğrenci Evi ve Sosyal Tesisi
2  [Bil Koleji Ümraniye Yerleşkesi](https://bilok...
3  [MBA Okulları Çamlıca Yerleşkesi](https://www....
4               [Colegio Caré](https://care.edu.gt/)

                                        venueAddress  \
0     Avenida Mendonça Furtado, 1120 - CEP: 68040050
1  Mehmet Akif Ersoy, 295. Sk. No:6, 06200 Yenima...
2  Cemil Meriç, Alemdağ Cd No:321, 34771 Dudullu ...
3  Küçük Çamlıca, Libadiye Cd. No:30, 34692 Üsküd...
4                            23 calle 15-45, zona 13

                       venueDetails external_website  \
0  Próximo ao Colégio São Francisco              NaN
1                 6.kat / 6th floor              NaN
2                        Yemek katı              NaN
3           Yemekhane / Dining Hall              NaN
4                               NaN              NaN

                           cellName  ...  longitude  cancelled  \
0                  100º Mérito 2018  ...  -54712597          0
1    100 Years Republic Ankara 2023  ...   32766238          0
2  100 Years Republic İstanbul 2023  ...   29142873          0
3    100. Yıl MBA Cube Weekend 2023  ...   29074717          0
4     10 Aniversario Guatemala 2023  ...  -90525865          1

                                          eventSpecs  \
0                222 333 333bf 333ft 444 pyram skewb
1        222 333 333oh 444 555 clock pyram skewb sq1
2  222 333 333bf 333oh 444 555 clock pyram skewb sq1
3  222 333 333bf 333oh 444 555 666 777 clock minx...
4             222 333 333bf 333oh 444 555 minx pyram

                                         wcaDelegate  \
0  [{Rafael de Andrade Cinoto}{mailto:rafael@cino...
1  [{Can Ersoy}{mailto:cersoy@worldcubeassociatio...
2  [{Mustafa Çamlıca}{mailto:mcamlica@worldcubeas...
3  [{Mustafa Çamlıca}{mailto:mcamlica@worldcubeas...
4  [{Adrián Ramírez}{mailto:aramirez@worldcubeass...

                                           organiser  year  month  day  \
0  [{Davi de Andrade Iácono}{mailto:diacono@world...  2018      4   14
1  [{İskender Aznavur}{mailto:i.kuleli@gmail.com}...  2023     10   28
2  [{Alper Şakım}{mailto:alpersakim2@gmail.com}] ...  2023     10   28
3  [{Alper Şakım}{mailto:alpersakim2@gmail.com}] ...  2023     12   16
4    [{Nancy Ramírez}{mailto:nancy.r1116@gmail.com}]  2023     10   14

   endMonth  endDay
0         4      14
1        10      29
2        10      29
3        12      17
4        10      15

[5 rows x 21 columns]